#appContainer {
    display: inline-block;
    min-width: 80%;
    min-height: 80vh;
    padding: 1rem;
}

.card-header {
    text-align: center;
}

.answerContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.initialsFormDiv {
    display: flex;
    justify-content: center;
}

.saveScoreForm {
    margin-top: 5%;
}

.card {
    border: none;
}